VITE_API_URL=http://127.0.0.1:5001/partiiu-app/us-central1/
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=partiiu-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=partiiu-app
VITE_FIREBASE_STORAGE_BUCKET=partiiu-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=<YOUR_FIREBASE_MESSAGING_SENDER_ID>
VITE_FIREBASE_APP_ID=1:<YOUR_FIREBASE_APP_ID>:web:<YOUR_FIREBASE_APP_ID>
VITE_FIREBASE_MEASUREMENT_ID=G-<YOUR_FIREBASE_MEASUREMENT_ID>
